/* 1232 */
@media (max-width: 77em) {
  .headeresquerda {
    width: 50%;
    justify-content: space-between;
  }
  .headerflex {
    height: 160rem;
  }
  .topheader {
    justify-content: space-between;
    padding: 0 10rem;
  }
  .glorioso {
    top: -73px;
    transform: translateX(50%);
    user-select: none;
  }
  .escudo {
    height: 110px;
  }
  .borda {
    transform: translate(-50%, 32%);
    width: 60%;
  }
  .scrollup .glorioso {
    top: -58px;
  }
  .scrollup .borda {
    width: 44%;
    top: 27px;
    left: 88px;
  }
  .sephed {
    opacity: 0;
  }
  .patrocinio {
    height: 48rem;
  }
  .menuicon {
    display: block;
  }
  .sites {
    display: none;
  }
  .container {
    width: 90%;
  }
  .menuhid {
    height: 160rem;
  }
  .caixa,
  .patrowbox,
  .parceiros,
  .lojaonline h2,
  .tituloebtn,
  .loja,
  .tv,
  .patrow,
  .sites,
  .patrocinadores {
    width: 90%;
    margin: 0 auto;
  }
  .omais {
    color: #555;
    font-size: 24rem;
    margin: auto 0;
  }
  .openm .menuicon {
    background-color: #fff;
    color: #000;
  }
  .openm .sites {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 160rem;
    background-color: #fff;
  }
  .openm .sites a {
    color: #333;
  }
  .openm .fundomenu {
    position: absolute;
    z-index: -1;
    background-color: #fff;
    width: 100%;
    height: 110vh;
  }

  .openm .titulochev {
    display: block;
    height: 36rem;
    width: 36rem;
    color: #333;
  }
  .openm .tituloh {
    padding: 0;
    justify-content: space-between;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;

    display: flex;
    flex-direction: column;
  }

  .openm .tituloh.t3.topen:hover .backdrop {
    left: 0;
    width: inherit;
    display: flex;
    transform: none;
  }
  .openm .tituloh:hover {
    color: #333;
    border-bottom: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f0f0f0;
  }
  .openm .tituloh:hover .princi {
    color: #333;
    border-bottom: none;
  }
  .tituloh.topen:hover {
    background-color: #fff;
  }

  .openm .sites {
    margin-top: 18rem;
  }
  .openm .princi {
    font-size: 24rem;
  }
  .openm .tituloh:hover .flexopenmenu {
    color: #333;
  }
  .topen .subt.pr {
    color: #555;
  }
  .backdrop {
    display: none;
  }
  .fundob {
    display: none;
  }
  .botoes {
    width: 90%;
  }
  .tabela {
    width: 100%;
  }
  .proxjogo,
  .class {
    width: 50%;
  }
  .jo .openm .topen .backdrop {
    display: flex;
    position: relative;
    transform: none;
    padding: 0;
    margin-top: 8rem;
    margin-bottom: 12rem;
    width: 100%;
    justify-content: space-between;
    padding-left: 24rem;
    padding-right: 14rem;
  }
  .openm .topen .backdrop .fundob {
    display: grid;
    row-gap: 16rem;
    width: 100%;
  }

  .topen .subt {
    border-bottom: 1px solid transparent;
  }
  .openm .flexopenmenu {
    color: #000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 24rem;
    padding-right: 14rem;
  }
  .openm .topen .subt:hover:not(.pr) {
    color: #000;
    border-bottom: 1px solid #eee;
  }
  .topen .titulochev {
    transform: rotate(180deg);
  }

  .topen .backdrop {
    display: grid;
    transform: translate(0);
    position: relative;
  }

  /* .openm.scrollup .headerflex {
    background: none;
  }
  .grad.openm.scrollup {
    background-image: url(../img/bannersite2.png);
  } */
  .postimg {
    height: 550rem;
  }
}
/* 1040 */
@media (max-width: 65em) {
  .class td:last-child {
    display: none;
  }
  .class th:last-child {
    display: none;
  }
  .class th:nth-child(2) {
    margin-left: -35rem;
  }
  .btnpartidas {
    font-size: 12rem;
  }
  .escudop {
    width: 70rem;
    height: 93rem;
  }
  .titulo {
    width: 70%;
  }
  .postimg {
    height: 500rem;
  }
}
/* 1000 */
@media (max-width: 62.5em) {
  .parceiros .patrow:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .patroimgbox:not(:first-child) {
    margin-left: 0;
  }
  .titulotv {
    width: 70%;
  }
}
/* 928 */

@media (max-width: 58em) {
  .caixa {
    flex-direction: column;
  }
  .sepc {
    width: 90%;
    height: 1px;
  }
  .proxjogo,
  .class {
    width: 100%;
  }
  .tituloetabela {
    width: 100%;
  }
  .class td:last-child {
    display: revert;
  }
  .class th:last-child {
    display: revert;
  }
  .tabela td:not(:first-child, :nth-child(2)) {
    width: 10%;
  }
  .tabela td::nth-child(2) {
    width: 45%;
    margin-right: 38rem;
  }
  .tabela td:first-child {
    width: 5%;
  }
  .jogosclas {
    height: 629rem;
  }
  .times {
    justify-content: space-around;
  }
  .escudop {
    width: 90rem;
    height: 93rem;
  }
  .btnap {
    display: none;
  }
  .btn a ion-icon {
    font-size: 20rem;
    color: #fff;
  }
  .btn {
    padding: 7rem 7rem;
    background-color: transparent;
  }
  .btn:hover a ion-icon {
    color: #000;
  }
  .btn:hover {
    background-color: #fff;
  }
  .tsvw .loja {
    display: flex;
    align-items: center;
    position: relative;
  }
  .tsvw .flexloja {
    position: absolute;
    top: 0;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .tsvw .imgloja {
    height: 550rem;
  }
  .tsvw .esq {
    transform: scale(0.8);
    z-index: 1;
    left: -15%;
    transition-property: transform, scale, left;
    transition-duration: 0.5s;
  }
  .tsvw .dir {
    transform: scale(0.8);
    z-index: 1;
    left: 65%;
    transition-property: transform, scale, left;
    transition-duration: 0.5s;
  }
  .tsvw .cen {
    z-index: 2;
    transition-property: transform, scale, left;
    transition-duration: 0.5s;
  }
}
