/* 1232 */
@media (max-width: 77em) {
  .headeresquerda {
    width: 50%;
    justify-content: space-between;
  }
  .headerflex {
    height: 160px;
  }
  .topheader {
    justify-content: space-between;
    padding: 0 10px;
  }
  .glorioso {
    top: -73px;
    transform: translateX(50%);
    user-select: none;
  }
  .escudo {
    height: 110px;
  }

  .scrollup .glorioso {
    top: -58px;
  }
  .scrollup .borda {
    width: 93%;
    top: 26px;
  }
  .borda {
    transform: translate(-50%, 34%);
    width: 95%;
  }
  .sephed {
    height: 1px;
    opacity: 0;
  }
  .patrocinio {
    height: 48px;
  }
  .menuicon {
    display: block;
  }
  .sites {
    display: none;
  }
  .container {
    width: 90%;
  }
  .menuhid {
    height: 160px;
  }
  .caixa,
  .patrowbox,
  .parceiros,
  .lojaonline h2,
  .tituloebtn,
  .loja,
  .tv,
  .patrow,
  .sites,
  .patrocinadores {
    width: 90%;
    margin: 0 auto;
  }

  .omais {
    font-size: 24px;
  }
  .openm .menuicon {
    background-color: #fff;
    color: #000;
  }
  .openm .sites {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 160px;
    background-color: #fff;
    height: calc(100vh - 240px);
    overflow-y: auto;
  }
  .scrollup.openm .sites {
    height: calc(100vh - 160px);
  }
  .search.scrollup.openm .sites {
    height: calc(100vh - 220px);
  }
  .search.openm .sites {
    height: calc(100vh - 280px);
  }
  .openm .sites a {
    color: #333;
  }
  .openm .fundomenu {
    position: absolute;
    z-index: -1;
    background-color: #fff;
    width: 100%;
    height: 110vh;
  }

  .openm .titulochev {
    display: block;
    height: 36px;
    width: 36px;
    color: #333;
  }
  .openm .tituloh {
    padding: 0;
    justify-content: space-between;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;

    display: flex;
    flex-direction: column;
  }

  .openm .tituloh.t3.topen:hover .backdrop {
    left: 0;
    width: inherit;
    transform: none;
  }
  .openm .tituloh:hover {
    color: #333;
    border-bottom: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f0f0f0;
  }
  .openm .tituloh:hover .princi {
    color: #333;
    border-bottom: none;
  }
  .tituloh.topen:hover {
    background-color: #fff;
  }
  .openm .sites {
    margin-top: 18px;
  }
  .openm .princi {
    font-size: 24px;
  }
  .openm .tituloh:hover .flexopenmenu {
    color: #333;
  }
  .topen .subt.pr {
    color: #555;
  }
  .backdrop {
    display: none;
  }
  .fundob {
    display: none;
  }
  .botoes {
    width: 90%;
  }
  .tabela {
    width: 100%;
  }
  .proxjogo,
  .class {
    width: 50%;
  }
  .jo .openm .topen .backdrop {
    display: flex;
    position: relative;
    transform: none;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 12px;
    width: 100%;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 14px;
  }
  .openm .topen .backdrop .fundob {
    display: grid;
    row-gap: 16px;
    width: 100%;
  }

  .topen .subt {
    border-bottom: 1px solid transparent;
  }
  .openm .flexopenmenu {
    color: #000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 14px;
  }
  .openm .topen .subt:hover:not(.pr) {
    color: #000;
    border-bottom: 1px solid #eee;
  }
  .topen .titulochev {
    transform: rotate(180deg);
  }

  .topen .backdrop {
    display: grid;
    transform: translate(0);
    position: relative;
    grid-template-columns: 1fr;
  }

  .fundob:not(:first-child) {
    margin-left: 0;
    margin-top: 16px;
  }

  /* .openm.scrollup .headerflex {
    background: none;
  }
  .grad.openm.scrollup {
    background-image: url(../img/bannersite2.png);
  } */
  .postimg {
    height: 550px;
  }
  .titulo h1 {
    font-size: 42px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .titulo h4 {
    font-size: 14px;
  }
  .search .sites {
    margin-top: 68px;
  }
}
/* 1040 */
@media (max-width: 65em) {
  .class td:last-child {
    display: none;
  }
  .class th:last-child {
    display: none;
  }
  .class th:nth-child(2) {
    margin-left: -35px;
  }
  .btnpartidas {
    font-size: 12px;
  }
  .escudop {
    width: 70px;
    height: 93px;
  }
  .titulo {
    width: 70%;
  }
  .postimg {
    height: 500px;
  }
  .omais {
    font-size: 18px;
  }
  .vs {
    margin-bottom: 16px;
  }
}
/* 1000 */
@media (max-width: 62.5em) {
  .parceiros .patrow:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .patroimgbox:not(:first-child) {
    margin-left: 0;
  }
  .titulotv {
    width: 70%;
  }
}
/* 928 */

@media (max-width: 58em) {
  .lojaonline {
    background-color: #f2f2f2;
    padding-bottom: 96px;
    background-image: url(../img/loja/efeitos/teste1.png);
    background-size: cover;
    width: 100%;
    overflow: hidden;
    transition: none;
  }
  .caixa {
    flex-direction: column;
  }

  .sepc {
    width: 90%;
    height: 1px;
  }
  .proxjogo,
  .class {
    width: 100%;
  }
  .tituloetabela {
    width: 100%;
  }
  .class td:last-child {
    display: revert;
  }
  .class th:last-child {
    display: revert;
  }
  .tabela td:not(:first-child, :nth-child(2)) {
    width: 10%;
  }
  .tabela td::nth-child(2) {
    width: 45%;
    margin-right: 38px;
  }
  .tabela td:first-child {
    width: 5%;
  }
  .jogosclas {
    height: 629px;
  }
  .times {
    justify-content: space-around;
  }
  .escudop {
    width: 90px;
    height: 93px;
  }
  .btnap {
    display: none;
  }
  .btn a ion-icon {
    font-size: 20px;
    color: #fff;
  }
  .btn {
    padding: 7px 7px;
    background-color: transparent;
  }
  .btn:hover a ion-icon {
    color: #000;
  }
  .btn:hover {
    background-color: #fff;
  }
  .tsvw .loja {
    display: flex;
    align-items: center;
    position: relative;
  }
  .tsvw .flexloja {
    position: absolute;
    top: 0;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .tsvw .imgloja {
    height: 550px;
    width: 100%;
    overflow: hidden;
  }
  .tsvw .esq {
    transform: scale(0.8);
    z-index: 1;
    left: -15%;
    transition-property: transform, scale, left;
    transition-duration: 0.5s;
  }
  .tsvw .dir {
    transform: scale(0.8);
    z-index: 1;
    left: 65%;
    transition-property: transform, scale, left;
    transition-duration: 0.5s;
  }
  .tsvw .cen {
    z-index: 2;
    transition-property: transform, scale, left;
    transition-duration: 0.5s;
  }
  .omais {
    display: none;
  }
  .titulo h1 {
    font-size: 34px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .titulo h4 {
    font-size: 12px;
    padding-bottom: 4px;
    padding-left: 2px;
  }
  .titulo p {
    font-size: 14px;
  }
  .btnmateria {
    font-size: 14px;
  }
  .btnpartidas {
    font-size: 16px;
  }
}
/* 848 */
@media (max-width: 53em) {
  .titulotv {
    font-size: 24px;
  }
  .tv {
    padding: 32px;
  }
  .botafogotv {
    padding-bottom: 64px;
  }
  .apoio {
    padding: 64px 0 96px;
  }
  .lojatitulo {
    padding-top: 64px;
  }
  .maptitle {
    font-size: 18px;
    margin-bottom: 18px;
    height: 38px;
  }
  .boxitems {
    row-gap: 12px;
  }

  .mapcent {
    column-gap: 12px;
  }

  .map,
  .fotfot {
    width: 85%;
  }
  .mapcent {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 28px;
  }
  .fotcol {
    font-size: 14px;
  }
  .fotcol:not(:first-child) {
    margin-right: 18px;
    width: 70%;
  }
  .footerfooterfooter {
    font-size: 10px;
  }
  .foot3 p:first-child {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .parceiros .patrow:first-child {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .parceiros .patrow .patroimgbox {
    width: 100%;
  }
  .parceiros .patrow:first-child .patroimgbox {
    grid-column: span 2;
  }
  .parceiros .patrow:first-child .patroimgbox:nth-child(4) {
    grid-column: 2 / span 2;
  }
  .parceiros .patrow:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .parceiros .patrow:last-child .patroimgbox:nth-child(-n + 2) {
    grid-row: 2;
  }
  .grad {
    background-size: 200%;
  }
  .jogosclas h3 {
    font-size: 28px;
  }
  .tabela td:first-child {
    width: 10%;
  }
  .tsvw .imgloja {
    height: 500px;
  }
  .lojaonline {
    padding-bottom: 64px;
  }
  .fothead {
    height: 35px;
  }
  .escudofot {
    width: 200px;
    position: relative;
    top: -150%;
  }
  .map {
    padding-top: 96px;
  }
}
/* 656 */
@media (max-width: 41em) {
  .grad .redessociais {
    display: none;
  }
  .jogosclas {
    height: 591px;
  }
  .postimg {
    height: 400px;
  }
  .titulo {
    width: 100%;
  }
  .btnmateria {
    display: none;
  }
  .iconnav {
    color: #fff;
    padding: 6px;
    width: 16px;
    height: 16px;
  }
  .headerflex {
    height: 130px;
  }
  .patrocinio {
    height: 28px;
  }
  /* .container {
    padding-bottom: 10px;
  } */
  .patroimgbox {
    width: 130px;
    height: 100px;
  }
  .contatoend {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .fotcol:first-child {
    grid-column: 1 / span 2;
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
  }
  .fotcol:first-child a,
  .foot3 p {
    width: 100%;
    text-align: center;
  }
  .fotcol:nth-child(2) {
    margin-left: 60px;
  }
  .fotcol:nth-child(3) {
    margin-left: 36px;
  }
  .botafogotv {
    padding: 0;
  }
  .tv {
    width: 100%;
    padding: 48px 24px;
  }
  .lojaonline {
    padding-bottom: 48px;
  }
  .patrowbox {
    background-color: #ffffffab;
    width: 100%;
  }
  .lojatitulo h2 {
    width: 100%;
    font-size: 36px;
    letter-spacing: 3px;
    padding-left: 24px;
  }
  .search .searchbar {
    height: 48px;
  }
  .search .caixasd .icone:nth-child(2) {
    margin-bottom: 4px;
  }
  .search .caixasd {
    height: 101px;
    margin-bottom: -63px;
  }
  .hide.search .caixasd {
    height: 81px;
  }

  .escudo {
    height: 85px;
  }

  .glorioso {
    top: -103px;
  }

  .scrollup .glorioso {
    top: -70px;
  }
  .scrollup .escudo {
    height: 60px;
  }

  .scrollup .borda {
    width: 90%;
    top: 28px;
  }
  .borda {
    transform: translate(-50%, 57%);
    width: 93%;
  }
  #search {
    font-size: 18px;
  }
  .openm .sites {
    margin-top: 0;
  }
  .search .sites {
    margin-top: 32px;
  }
  .menuhid {
    height: 130px;
  }
  .bola {
    width: 8px;
    height: 8px;
    background-color: #ffffff4d;
    border-radius: 50%;
    cursor: pointer;
  }
  .bola:not(:last-child) {
    margin-right: 10px;
  }
  .bola.ativa {
    background-color: #fff;
  }
  .tituloebtn {
    padding-bottom: 55px;
  }
  .carrosel {
    transform: translateY(-43px);
  }
  .caixa {
    width: 100%;
  }
  .tsvw .flexloja {
    width: 60%;
  }
  .tsvw .esq {
    left: -23%;
  }
  .tsvw .dir {
    left: 62%;
  }
  .parctext {
    font-size: 18px;
  }

  .patrotext {
    font-size: 24px;
  }
  .search.openm .sites {
    height: calc(100vh - 260px);
  }
  .openm .sites {
    height: calc(100vh - 230px);
  }
  .scrollup.openm .sites {
    height: calc(100vh - 170px);
  }
  .search.scrollup.openm .sites {
    height: calc(100vh - 200px);
  }
  .grad.scrollup {
    transform: translateY(-40%);
  }
  .grad.hide {
    transform: translate(0, -125%);
  }
}
/* 540 */
@media (max-width: 34em) {
  .openm .topen .backdrop .fundob {
    row-gap: 14px;
  }
  .topen .backdrop {
    padding-top: 4px;
  }
  .openm .flexopenmenu {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .backdrop {
    grid-template-columns: 1fr;
  }
  .mapcent {
    grid-template-columns: repeat(6, 1fr);
  }
  .mapbox {
    grid-column: span 2;
  }
  .mapbox:nth-child(7) {
    grid-column: 2 / span 2;
  }
  .fotcol:not(:first-child) {
    width: fit-content;
    margin: 0 auto;
  }
  .tsvw .imgloja {
    height: 450px;
  }
  .lojaonline {
    padding-bottom: 0px;
  }
  .tsvw .esq .btncompre,
  .tsvw .dir .btncompre {
    font-size: 12px;
  }
  .btn {
    padding: 6px 6px;
  }
  .btn a ion-icon {
    font-size: 18px;
  }
  .menuiconion {
    height: 24px;
    width: 24px;
  }
  .caixasd {
    margin-left: 12px;
    height: 32px;
  }
  .caixasd .icone {
    padding: 6.5px 6.5px;
  }
  #search {
    font-size: 16px;
    margin-left: 60px;
  }
  .search .caixasd {
    height: 94px;
    margin-bottom: -64px;
  }
  .acoes {
    height: 30px;
  }
  .grad {
    background-size: 250%;
  }
  .headerflex {
    height: 110px;
  }
  .escudo {
    height: 65px;
  }
  .borda {
    width: 92%;

    transform: translate(-50%, 87%);
  }
  .menuhid {
    height: 110px;
  }
  .scrollup .borda {
    width: 89%;
    top: 9px;
  }
  .openm .sites {
    top: 130px;
  }
  .search .sites {
    margin-top: 38px;
  }
  .search.openm .sites {
    height: calc(100vh - 230px);
  }
  .openm .sites {
    height: calc(100vh - 190px);
  }
  .scrollup.openm .sites {
    height: calc(100vh - 150px);
  }
  .search.scrollup.openm .sites {
    height: calc(100vh - 190px);
  }
}
/* 512 */
@media (max-width: 32em) {
  .escdiv {
    width: auto;
  }

  .times p {
    height: 40px;
    width: 70px;
    font-size: 14px;
  }
  .escudop {
    width: 70px;
  }
  .btnpartidas {
    padding: 8px 8px;
    font-size: 14px;
  }
  .proxjogo,
  .class {
    padding: 26px 24px;
  }
  .vejamaispartidas {
    margin-top: 10px;
  }
  .tsvw .imgloja {
    height: 400px;
  }
  .tsvw .flexloja {
    width: 65%;
  }
  .titulotv {
    font-size: 18px;
  }
  .btntv {
    font-size: 14px;
    padding: 6px 12px;
  }
  .tv {
    padding: 48px 16px;
  }
  .lojajs .tsvw {
    height: 500px;
  }
  .openm .sites {
    margin-top: -5px;
  }
  .search .sites {
    margin-top: 42px;
  }
  .openm .sites {
    height: calc(100vh - 140px);
  }
  .search.openm .sites {
    height: calc(100vh - 180px);
  }
}
/* 432 */
@media (max-width: 27em) {
  .tabela {
    width: 108%;
    transform: translateX(-4%);
  }
  .titulo h1 {
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .postimg {
    height: 300px;
  }
  .bola:not(:last-child) {
    margin-right: 6px;
  }
  .bola {
    width: 6px;
    height: 6px;
  }
  .patrocinio {
    height: 20px;
  }
  .postgrad {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0.3) 40%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  .headerflex {
    height: 80px;
  }
  .menuhid {
    height: 80px;
  }
  .glorioso {
    top: -85px;
  }
  .container {
    padding-bottom: 5px;
  }
  .scrollup .glorioso {
    top: -75px;
  }
  .search .caixasd {
    height: 88px;
    margin-bottom: -55px;
  }
  .scrollup .escudo {
    height: 40px;
  }
  .scrollup .borda {
    width: 82%;
    top: 39px;
  }

  .search.openm .sites {
    margin-top: 12px;
  }
  .hide.search .caixasd {
    margin-bottom: -51px;
  }
  .openm .sites {
    height: calc(100vh - 160px);
  }
  .search.openm .sites {
    height: calc(100vh - 200px);
  }
  .scrollup.openm .sites {
    height: calc(100vh - 140px);
  }
  .scrollup.search.openm .sites {
    height: calc(100vh - 190px);
  }
  #search {
    margin-left: 27px;
  }
  .times p {
    font-size: 12px;
  }
  .escudop {
    width: 60px;
    height: 63px;
  }
  .tabela {
    font-size: 16px;
  }

  .parceiros .patrow .patroimgbox,
  .patroimgbox {
    width: 100px;
    height: 80px;
  }
  .patrow {
    align-items: center;
    justify-items: center;
  }
  .mapbox:nth-child(7) {
    grid-column: 1 / span 2;
  }
  .mapbox:last-child {
    grid-column: 4 / span 2;
  }
  .maptitle {
    font-size: 16px;
  }
  .boxitems a:link,
  .boxitems a:visited {
    font-size: 12px;
  }
  .contatoend {
    display: grid;
    grid-template-columns: 1fr;
  }
  .fotcol:first-child {
    grid-column: 1;
  }
  .fotcol:not(:first-child) {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .fotcol:last-child {
    margin-top: 18px;
  }
  .sedeadres {
    margin-top: 8px;
  }
  .openm .princi {
    font-size: 20px;
  }
  .openm .flexopenmenu {
    padding-top: 6px;
    padding-bottom: 3px;
  }
  .openm .titulochev {
    height: 28px;
    width: 28px;
  }
  .openm .topen .backdrop .fundob {
    row-gap: 8px;
  }
  .class th:nth-child(2) {
    margin-left: -28px;
  }
  .btntv {
    font-size: 12px;
    padding: 6px 6px;
  }
  .container {
    padding-bottom: 4px;
  }
  .scrollup .bottomheader {
    margin-bottom: -2px;
  }
}
